<div class="jumbotron text-center">
<h1>OPPOTUS, or not by popular vote!</h1>
	<p>{{ tagline }}</p>	
	<div class="row">	
	  <div class="col-xs-6 col-sm-4">
		<div class="diaLogs">
		  <h4>Replies	</h4>
		</div><span class="triangle"></span>		
		<div>
		<div class="twData"> #stats </div>
		</div>
	  </div>

	  <div class="col-xs-6 col-sm-4">
		<div class="diaLogs">
		  <h4>Quotes	</h4>
		</div><span class="triangle"></span>				
		<div>
		<div class="twData"> #stats </div>
		</div>
	  </div>

	  <div class="col-xs-6 col-sm-4">
		<div class="diaLogs">
		  <h4>Likes	</h4>
		</div><span class="triangle"></span>		
		<div>
		<div class="twData"> #stats </div>
		</div>

	  </div>

	  
	</div><!-- END OF ROWS -->

</div>